<div class="what py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-sm-4 mb-3 text-bl text-center font-weight-bold">Welcome to Our Website</h3>
    <p class="mx-auto wstyles text-center mb-sm-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/about2.jpg" alt="" class="img-fluid">
  </div>
</div>

<!-- what we do -->
<div class="what pb-5" id="what">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 text-bl text-center font-weight-bold mb-sm-5 mb-4">List Product</h3>
    <div class="serv_bottom text-center pt-xl-4">
      <div class="row mt-xl-4">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let product of data">
          <div class="bottom-gd">
            <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/wh1.jpg" alt="" class="img-fluid">
            <h3 class="my-3 font-weight-bold"><a routerLink="/Detail/{{product.id}}">{{product.name}}</a></h3>
            <p>${{product.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
